{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1>Super Shop</h1>
<form method="post" novalidate>
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-6">
            <label for="{{ form.customer_name.label }}">{{ form.customer_name.label }}</label>
            {{ form.customer_name }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <label for="{{ form.customer_phone.label }}">{{ form.customer_phone.label }}</label>
            {{ form.customer_phone }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <label for="{{ form.customer_email.label }}">{{ form.customer_email.label }}</label>
            {{ form.customer_email }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <label for="products">Products</label>
            <select class="form-select mt-2" name="products" id="products">
                <option selected>Select product</option>
                {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-success mt-4">Create Order</button>
</form>
{% endblock body %}